### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
players = purchase_data.SN.nunique()
players_df = pd.DataFrame({"Total Players": [players]})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Run basic calculations to obtain number of unique items, average price, etc.
purchases = purchase_data.SN.count()
revenue = purchase_data.Price.sum()
avg_price = round(revenue / purchases,2)
unique_items = purchase_data["Item Name"].nunique()

# Create a summary data frame to hold the results
summary = {"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Number of Purchases": [purchases], "Total Revenue": [revenue]}
summary_df = pd.DataFrame(summary)

# Display the summary data frame
summary_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"}).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Group by Gender and count unique SN values
gender_df =  purchase_data.groupby(['Gender'])["SN"].nunique()

# Create data frame for gender count summary
gender_count = pd.DataFrame({"Total Count": gender_df})

# Sort descending by count
gender_count = gender_count.sort_values("Total Count", ascending=False)

# Calculate percent of total for each Gender
gender_percent = gender_count["Total Count"] / players

# Add percentage column to df
gender_count["Percentage of Players"] = gender_percent

# Display the summary data frame
gender_count.style.format({"Percentage of Players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_group = purchase_data.groupby(["Gender"])
gender_purchases = gender_group["Purchase ID"].count()
gender_total_value = gender_group["Price"].sum()
gender_avg_purchase = gender_group["Price"].mean()
purchase_data_sn = purchase_data.groupby(["Gender", "SN"])
gender_sn_group = pd.DataFrame(purchase_data_sn["Price"].sum())
gender_avg_person = gender_sn_group.groupby(["Gender"])["Price"].mean()

# Create a summary data frame to hold the results
gender_summary_df = pd.DataFrame({"Purchase Count": gender_purchases, "Average Purchase Price": gender_avg_purchase, "Total Purchase Value": gender_total_value, "Avg Total Purchase per Person": gender_avg_person})

# Display the summary data frame
gender_summary_df.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Establish bins for ages
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=False)

# Calculate the numbers by age group
age_range_players = purchase_data.groupby(["Age Ranges"])["SN"].nunique()

# Create a summary data frame to hold the results
age_range_demographics = pd.DataFrame({"Total Count": age_range_players})

# Calculate the percentages by age group
age_total_players = age_range_demographics["Total Count"].sum()
age_percent_total_players = age_range_demographics["Total Count"] / age_total_players

# Add percentage column to summary data frame
age_range_demographics["Percentage of Players"] = age_percent_total_players

# Display Age Demographics Table
age_range_demographics.style.format({"Percentage of Players": "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Bin the purchase_data data frame by age
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=False)

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc
age_group = purchase_data.groupby(["Age Ranges"])
age_purchase_count = age_group["Purchase ID"].count()
age_avg_purchase = age_group["Price"].mean()
age_total_value = age_group["Price"].sum()
age_avg_person = age_total_value / age_range_players

# Create a summary data frame to hold the results
age_purchase_summary_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_avg_purchase, "Total Purchase Value": age_total_value, "Avg Total Purchase per Person": age_avg_person})

# Display the summary data frame
age_purchase_summary_df.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Run basic calculations to obtain results for Top Spenders summary df
sn_group = purchase_data.groupby(["SN"])
sn_purchase_count = sn_group["Purchase ID"].count()
sn_avg_price = sn_group["Price"].mean()
sn_total_price = sn_group["Price"].sum()

# Create a summary data frame to hold the results
sn_summary_df = pd.DataFrame({"Purchase Count": sn_purchase_count, "Average Purchase Price": sn_avg_price, "Total Purchase Value": sn_total_price})

# Sort the total purchase value column in descending order
sn_summary_df = sn_summary_df.sort_values("Total Purchase Value", ascending=False)

# Display a preview of the summary data frame
sn_summary_df.head().style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
item_group = popular_df.groupby(["Item ID", "Item Name"])
item_purchase_count = item_group["Item ID"].count()
item_total_value = item_group["Price"].sum()
item_price = item_total_value / item_purchase_count

# Create a summary data frame to hold the results
item_summary_df = pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": item_price, "Total Purchase Value": item_total_value})

# Sort the purchase count column in descending order
item_summary_df = item_summary_df.sort_values("Purchase Count", ascending=False)

# Display a preview of the summary data frame
item_summary_df.head().style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# Sort the above table by total purchase value in descending order
item_summary_profit_df = item_summary_df.sort_values("Total Purchase Value", ascending=False)

# Display a preview of the data frame
item_summary_profit_df.head().style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Written Report - Include a written description with 3 observable trends based on the data

* At least 84% of all players with purchases are male.

* More than 75% of all purchases come from players between the ages of 15 and 29. 46.8% of all purchases came from users between the ages of 20 and 24. Avg age of user that made a purchase is about 22 years old.

* The top 3 most popular items are also the top 3 most profitable items. A majority of the 179 unique items purchased have been purchased at least 3 times.